* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {}

@keyframes load {
    from {
        font-size: 12px;
        background-color: pink;
    }

    to {
        background-color: green;
        font-size: 44px;
        /* You changed me !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    }
}